/* variables */
/* colors */
/* animations */
@-webkit-keyframes rotate-wheel {
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@-moz-keyframes rotate-wheel {
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@keyframes rotate-wheel {
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Avenir"; }

h1, h2, h3, h4, h5 {
  font-weight: 300; }

.u-svgIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: transparent; }

.App {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.App:before {
  content: '';
  opacity: 0;
  transition: 300ms opacity; }

.App.is-dimmed:before {
  content: '';
  position: fixed;
  background: black;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.MainContainer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #E0E6EC;
  color: #E0E6EC; }

.MainContainer-header {
  position: relative;
  padding: 1em 1em;
  overflow: hidden; }

.SettingsButton {
  float: right; }
  .SettingsButton > svg {
    stroke: #75808F;
    fill: transparent;
    -webkit-transition: 200ms stroke ease;
    -moz-transition: 200ms stroke ease;
    transition: 200ms stroke ease; }
  .SettingsButton:hover > svg {
    stroke: #545E6B;
    -webkit-animation: rotate-wheel 3s linear 0s infinite;
    -moz-animation: rotate-wheel 3s linear 0s infinite;
    animation: rotate-wheel 3s linear 0s infinite; }
  .SettingsButton:active > svg {
    stroke: #7AB2EA; }

.ChartSelector {
  overflow: hidden; }
  .ChartSelector:before {
    content: 'Chart type';
    color: #59A2E6;
    margin-right: 1em; }

.ChartSelector-button {
  background-image: -webkit-linear-gradient(-298deg, #D9DEE5 0%, #E2E7EE 100%);
  background-image: linear-gradient(28deg, #D9DEE5 0%, #E2E7EE 100%);
  border: 1px solid #B8C6D3;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  padding: 1em;
  outline: none;
  cursor: pointer; }
  .ChartSelector-button:first-child {
    border-radius: 4px 0px 0px 4px; }
  .ChartSelector-button:last-child {
    border-radius: 0px 4px 4px 0px; }

.EditorContainer {
  width: 30%;
  min-width: 500px;
  overflow: scroll;
  background-color: #262a2e;
  color: #d9dfe2; }

/* custom theme for ace editor */
#editor .ace_editor {
  background-color: #262a2e; }

#editor .ace_variable {
  color: #6BB6C4; }

#editor .ace_string {
  color: #8091C6; }

#editor .ace_constant.ace_numeric {
  color: #E2E7EB; }

#editor .ace_gutter {
  color: #3B424A; }

.Chart {
  display: block;
  margin: 0 auto;
  margin-top: 50px; }

.SettingsContainer {
  position: fixed;
  display: block;
  width: 250px;
  height: 270px;
  top: 2.5em;
  right: 1.5em;
  border-radius: 4px;
  background: #E0E6EC;
  opacity: 0;
  z-index: 3;
  color: #75808F;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.06);
  -webkit-transition: 300ms transform ease;
  -moz-transition: 300ms transform ease;
  transition: 300ms transform ease;
  -webkit-transform: scale(0.7) translateY(-25%) translateX(25%);
  -moz-transform: scale(0.7) translateY(-25%) translateX(25%);
  -ms-transform: scale(0.7) translateY(-25%) translateX(25%);
  -o-transform: scale(0.7) translateY(-25%) translateX(25%);
  transform: scale(0.7) translateY(-25%) translateX(25%); }

.SettingsContainer.is-open {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  -moz-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  -o-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0); }

.SettingsContainer-content {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  position: relative;
  padding: 2em 2em; }

.SettingsContainer-button {
  width: 100%;
  height: 44px;
  margin-top: 2em;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Avenir";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.SettingsContainer-button--default {
  background-image: -webkit-linear-gradient(-298deg, #D9DEE5 0%, #E2E7EE 100%);
  background-image: linear-gradient(28deg, #D9DEE5 0%, #E2E7EE 100%);
  border: 1px solid #B8C6D3;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  color: #75808F; }
  .SettingsContainer-button--default:hover {
    background-image: -webkit-linear-gradient(-298deg, #ECEEF1 0%, #DDE3EA 100%);
    background-image: linear-gradient(28deg, #ECEEF1 0%, #DDE3EA 100%);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    color: #545E6B; }
  .SettingsContainer-button--default:active {
    background-image: -webkit-linear-gradient(-298deg, #E4E9EE 0%, #EAEEF2 100%);
    background-image: linear-gradient(28deg, #E4E9EE 0%, #EAEEF2 100%);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    color: #4996E3; }

.SettingsContainer-button--blue {
  background-image: -webkit-linear-gradient(-115deg, #58ACD9 0%, #7BA8FF 100%);
  background-image: linear-gradient(-155deg, #58ACD9 0%, #7BA8FF 100%);
  border: 1px solid #719BEC;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  color: #FFFFFF; }
  .SettingsContainer-button--blue:hover {
    background-image: -webkit-linear-gradient(-115deg, #58ACD9 0%, #7BA8FF 50%);
    background-image: linear-gradient(-155deg, #58ACD9 0%, #7BA8FF 50%);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.12); }
  .SettingsContainer-button--blue:active {
    background-image: -webkit-linear-gradient(-294deg, #58ACD9 0%, #7BA8FF 100%);
    background-image: linear-gradient(24deg, #58ACD9 0%, #7BA8FF 100%);
    box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.12); }

/*# sourceMappingURL=app.css.map */
